<h2>Статьи</h2>

<div class="container">
	<% @articles.each do |article|%>
  <div class="row">
    <div class="col-sm">
        <a href="/articles/<%= article.id %>"><img src="<%= article.image_link %>" width="200" height="200" alt="упс..." class="scale_form"></a>
        <br><br><h3><%= article.title %></h3>
        <small><%= article.created_at %></small><br>
        <small>by <%= Admin.find(article.admin_id).email %></small>
  </div>
</div>
<% end %>
</div>