<div class="content">
<h2><%= @article.title %></h2>

<p><img src="<%= @article.image_link %>" alt="<%= @article.title %>" width="500" height="370" class="rightimg"><%= @article.text %></p>
<h2>Комментарии</h2>
<% @article_comments.each do |article_comment|%>
<h3><%= article_comment.text %></h3>
<small><%= article_comment.created_at %></small><br>
<small>by <%= User.find(article_comment.user_id).name %></small>
<br><br>
<% end %>
<% if session[:user_id] = nil %>
<h2>Оставить комментарий</h2>
<div class="form" align="center">
<%= form_with model: @article_comment, url: "/article_comments" do |form| %>
  <div class="form-group scale_form">
    <div class="col-sm-6">
		<%= form.text_area :text, class: "form-control", placeholder: "Введите комментарий" %>
    </div>
  </div>
   <div class="form-group scale_form">
      <br><button type="submit" class="btn btn-lg btn-success">Отправить</button>
  </div>
  <div class="user_id">
    <div class="col-sm-4">
    <%= form.text_field :user_id, class: "form-control", value: @user_id %>
    </div>
  </div>
  <div class="news_id">
    <div class="col-sm-4">
    <%= form.text_field :article_id, class: "form-control", value: @article.id %>
    </div>
  </div>
<% end %>
<% end %>
</div>
</div>
</div>
